{% extends "base.html" %}
{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<a class="btn btn-success" href="{% url 'add_student_view' %}">Agregar Estudiante</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Macimiento</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <th scope="row">{{student.id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.birth_date}}</td>
      <td>{{student.status}}</td>
      <td><a class="btn btn-primary" href="{% url 'edit_student_view' student_id=student.id %}">Editar</a></td>
      <td><a class="btn btn-danger" href="{% url 'delete_student_view' student_id=student.id %}">Eliminar</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block js %}

$(function(){
alert("Hola desde Home");

$('#exampleModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
});



});


{% endblock %}