{% extends "base.html" %}
{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<a class="btn btn-success" href="{% url 'add_student_view' %}">Agregar Estudiante</a>
<a class="btn btn-success" id="btnAddStudent" >Agregar Estudiante AJAX</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Macimiento</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <th scope="row">{{student.id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.birth_date}}</td>
      <td>{{student.status}}</td>
      <td><a class="btn btn-primary" href="{% url 'edit_student_view' student_id=student.id %}">Editar</a></td>
      <td><a class="btn btn-danger" href="{% url 'delete_student_view' student_id=student.id %}">Eliminar</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block js %}

$(function(){
console.log("Hola desde home")

$("#btnAddStudent").on('click', function(){
  console.log("Add Student")
  token = 'M0FHyoseWBz1gUWsZtG9yugCTUW4qeuXxmluLivJmPGyh6G4o9bdWuSXyW94a61f'
  $.ajax({
        url: "http://127.0.0.1:8000/add-student/",
        contentType: 'application/json',
        method: 'POST',
        dataType: "json",
        headers: {'X-CSRFToken':token},
        data: JSON.stringify(
        {'name':'Manuel',
        'address':'Avenida Las Rosas',
        'birth_date':'2002-12-12'
        }),
        success: function (response) {
         console.log(response);
        },
        error: function (response) {
          console.log(response);
        }
      });
})


});


{% endblock %}